.containerCalculadora{
    background-color: #e5e5f7;
    background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 15px 15px, linear-gradient(#F38064 1.2000000000000002px, transparent 1.2000000000000002px) 0 -0.6000000000000001px, linear-gradient(90deg, #F38064 1.2000000000000002px, #e5e5f7 1.2000000000000002px) -0.6000000000000001px 0;
    background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;
}


.containerHistory::-webkit-scrollbar{
        width: 7px;
        background-color: #f5f5f550;
}

.containerHistory::-webkit-scrollbar-thumb{
        background-color: #F38064;
        border-radius: 20px;
}